body {
  background: #e7e4e4;
}

.header {
  background: #e4e3e3;
  border-radius: 2%;

}

.background {
  background-color:#747c7cfa;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(48, 45, 45, 0.2);
  color: #fff;
  font-size: 4vw;
  text-align: center;
 
}


.head {
  color: white;
  font-size: 3vw;
}
